.muup_component {
  display: flex;
  gap: 10px;
  align-items: center;
  width: 100%;
  padding: 10px;
  background: #1e1f29;
  border: 1px solid #232b36;
  border-radius: 4px;
  transition: all 0.3s ease;

  &:hover {
    background: #292a38;
  }
}
